.etiquette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(13, 19, 34);
  transition: background-color 0.3s ease;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.red {
  color: red;
  animation: blink 1s infinite;
}

.marked {
  background-color: rgb(10, 14, 74);
}
.selected{
  background-color: rgb(74, 74, 74);
}

.etiquette:hover {
  background-color: lightgray;
}

.etiquette .header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.etiquette div {
  margin: 0 10px;
}

.bold {
  font-weight: bold;
}
